<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="iiwa_gazebo" params="runtime_config_package controllers_file namespace prefix">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
        <xacro:if value="${namespace != '/'}">
          <ros>
            <namespace>/${namespace[:-1]}</namespace>
          </ros>
          <robot_param_node>/${namespace}robot_state_publisher</robot_param_node>
        </xacro:if>
        <parameters>$(find ${runtime_config_package})/config/${controllers_file}</parameters>
      </plugin>
    </gazebo>

    <!-- color -->
    <gazebo reference="${prefix}_link_0">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link1 -->
    <gazebo reference="${prefix}_link_1">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link2 -->
    <gazebo reference="${prefix}_link_2">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link3 -->
    <gazebo reference="${prefix}_link_3">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>


    <!-- Link4 -->
    <gazebo reference="${prefix}_link_4">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link5 -->
    <gazebo reference="${prefix}_link_5">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link6 -->
    <gazebo reference="${prefix}_link_6">
      <material>Gazebo/Orange</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

    <!-- Link7 -->
    <gazebo reference="${prefix}_link_7">
      <material>Gazebo/Grey</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
    </gazebo>

  </xacro:macro>
</robot>
